
// For Sending SMS.
= render 'messages/send_sms'

// For verification of the code
= render 'messages/verification'

// For Update the User ID
= render 'clients/update_details' 

// For adding new friend
= render 'friends/add_friends'

// for viewing all the requests

= render 'requests/user_requests'

// Accept the requests

= render 'requests/accept_requests'

// Reject the requests

= render 'requests/reject_requests'
