#content
  .separator.bottom
  .heading-buttons
    %h3
      Requests
    .clearfix
  .separator.bottom
  
  .innerLR
    .widget
      .widget-head
        %h4 Request Details of user 
      .widget-body
        %table.dynamicTable.table.table-striped.table-bordered.table-condensed
          / Table heading
          %thead
            %tr
              %th ID
              %th Requests
              %th Status

          / // Table heading END
          / Table body
          %tbody
          - @requests.each do |request|
            - sender = Client.find(request.sender_id).name.capitalize
            %tr
              %td= request.id
              %td= "'#{sender}' has sent you the friend request." 

              - if request.rqst_status == true
                %td= "Accepted"
              - else
                %td= link_to 'Accept', accepted_request_path(request), :method => "post"
                %td= link_to 'Reject', rejected_request_path(request), :method => "post" 
              
